altgraph==0.17.3
astroid==2.12.10
colour==0.1.5
contourpy==1.0.5
cycler==0.11.0
dill==0.3.5.1
flake8==5.0.4
fonttools==4.37.3
isort==5.10.1
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
macholib==1.16.2
matplotlib==3.6.0
mccabe==0.7.0
numpy==1.23.3
packaging==21.3
Pillow==9.2.0
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pylint==2.15.3
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
six==1.16.0
tk==0.1.0
tkmacosx==1.0.5
tomli==2.0.1
tomlkit==0.11.5
wrapt==1.14.1
